@import './root';

* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  width: 100%;
  overflow-x: hidden;

  header {
    padding: 16px 16px 70px;
    width: 100%;

    h1 {
      @include mobile-heading-large();
    }
  }

  main {
    @include flex($direction: row, $wrap: wrap, $justify: center);
    row-gap: 40px;
    background: linear-gradient(180deg, white 0%, #F0F1FF 100%);
    padding: 16px 16px 80px;
    width: 100%;

    .box {
      @include box(56px 29px 32px 28px);

      h2 {
        @include mobile-heading-medium();
      }

      h3 {
        @include mobile-heading-small();
      }

      a {
        @include link();

        &:hover {
          @include link-hover()
        }
      }
    }
  }

  footer {
    width: 100%;
    background-color: $primary;
  }

  .button {
    @include button-default();
  }

  h1,
  h2,
  h3 {
    font-weight: 800;
  }

  p {
    @include mobile-body();
  }
}

@include responsive ("tablet") {
  body {
    header {
      padding: 24px 40px 186px 39px;
    }
  }
}