@import "./root";

* {
  box-sizing: border-box;
}

body {
  @include flex($direction: column, $items: center);
  font-family: $font;
  width: 100%;
  overflow-x: hidden;

  .button {
    @include button-default();
  }

  h1,
  h2,
  h3 {
    font-weight: 800;
  }

  p {
    @include mobile-body();
  }
}

@include responsive("desktop") {
  body {
    p {
      @include desktop-body();
    }

    .button {
      font-size: 18px;
    }
  }
}
