@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap");

$font: "Plus Jakarta Sans", sans-serif;

$primary: #13183f;
$hover-primary: #666ca3;
$secondary: #83869a;
$tertiary: #f74780;
$hover-tertiary: #ffa7c3;
$gradient-ligth: linear-gradient(to bottom, #ff6f48, #f02aa6);
$gradient-dark: linear-gradient(to bottom, #4851ff, #f02aa6);

$breakpoints: (
  "desktop": 1400px,
  "tablet": 660px
);

@mixin mobile-heading-large {
  font-size: 40px;
  line-height: 51px;
  color: $primary;
}

@mixin mobile-heading-medium {
  font-size: 24px;
  line-height: 32px;
  color: white;
}

@mixin mobile-heading-small {
  font-size: 20px;
  line-height: 25px;
  color: $primary;
}

@mixin mobile-body {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: $secondary;
}

@mixin link {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: $tertiary;
  text-decoration: none;
}

@mixin link-hover {
  color: $hover-tertiary;
  cursor: pointer;
}

@mixin desktop-heading-large {
  font-size: 56px;
  line-height: 70px;
  color: $primary;
}

@mixin desktop-heading-medium {
  font-size: 32px;
  line-height: 40px;
  color: white;
}

@mixin desktop-heading-small {
  font-size: 24px;
  line-height: 28px;
  color: $primary;
}

@mixin desktop-body {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: $secondary;
}

@mixin box($padding) {
  @include position(relative, 1);
  padding: $padding;
  border-radius: 10px;
  box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);
  width: 100%;
  max-width: 350px;
  max-height: 322px;
}

@mixin box-images($url) {
  content: "";
  @include background($url);
  @include position(absolute, 2, -24px, 260px);
  width: 56px;
  height: 56px;
}

@mixin button-default {
  font-size: 16px;
  line-height: 28px;
  font-weight: 700;
  color: white;
  border: none;
  border-radius: 28px;
  position: relative;
  cursor: pointer;
}

@mixin button($gradient: null, $solid: null, $padding: null) {
  @if $padding {
    padding: $padding;
  }

  @if $gradient {
    background: $gradient;
  }

  @if $solid {
    background-color: $solid;
  }
}

@mixin button-hover {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none;
  border-radius: 28px;
  opacity: 0;
  transition: opacity 0.5s;
}

@mixin flex($direction: null, $wrap: null, $content: null, $justify: null, $items: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $wrap {
    flex-wrap: $wrap;
  }

  @if $content {
    align-content: $content;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $items {
    align-items: $items;
  }
}

@mixin grid($areas: null, $columns: null, $rows: null, $c-gap: null, $r-gap: null) {
  display: grid;

  @if $areas {
    grid-template-areas: $areas;
  }

  @if $columns {
    grid-template-columns: $columns;
  }

  @if $rows {
    grid-template-rows: $rows;
  }

  @if $c-gap {
    column-gap: $c-gap;
  }

  @if $r-gap {
    row-gap: $r-gap;
  }
}

@mixin background($url: null, $size: null, $position: null) {
  @if $url {
    background: url($url) no-repeat center / cover;
  }

  @if $size {
    background-size: $size;
  }

  @if $position {
    background-position: $position;
  }
}

@mixin position($position: null, $index: null, $top: null, $right: null, $bottom: null, $left: null) {
  @if $position {
    position: $position;
  }

  @if $index {
    z-index: $index;
  }

  @if $top {
    top: $top;
  }

  @if $right {
    right: $right;
  }

  @if $bottom {
    bottom: $bottom;
  }

  @if $left {
    left: $left;
  }
}

@mixin responsive($width, $type: min) {
  @if map\_has\_key($breakpoints, $width) {
    $width: map\_get($breakpoints, $width);

    @if $type ==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
