@import '../global/root';

body {
  header {
    .header__image {
      margin: 0 8px;
      @include background("../images/image-hero-mobile.png");
      height: 301px;
    }

    nav {
      @include flex (row, $justify: space-between, $items: center);
      margin-bottom: 38px;

      img {
        width: 89px;
        height: 23px;
      }

      .button--nav {
        @include button($solid: $primary, $padding: 9px 24px 11px);

        &:hover {
          @include button($solid: $hover-primary);
        }
      }
    }

    .header__content {
      margin-bottom: 46px;

      p {
        margin: 26px 0 24px;
      }

      .button--header {
        @include button($gradient: $gradient-ligth, $padding: 15px 38px);

        &::before {
          @include button-hover();
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}

@include responsive ("tablet") {
  body {
    header {
      position: relative;
      display: grid;
      grid-template-areas:
        "nav nav"
        "content image";
      grid-template-columns: 58% 42%;
      grid-template-rows: 1fr auto;
      row-gap: 100px;
      padding: 24px 40px 186px 39px;

      nav {
        grid-area: nav;
        grid-column: 1/3;
        margin-bottom: unset;

      }

      .header__image {
        display: none;
        grid-area: image;
        grid-row: 1/3;
      }

      .header__content {
        grid-area: content;
        margin: unset;
      }

      &:after {
        content: '';
        @include background("../images/image-hero-tablet.png", cover, left);
        @include position(absolute, 2, $top: -86px, $right: 0px);
        width: 394px;
        height: 723px;
        margin: unset;
      }
    }
  }
}