@import "../global/root";

body {
  main {
    @include flex($direction: row, $justify: center);
    background: linear-gradient(180deg, white 0%, #f0f1ff 100%);
    padding: 16px 16px 80px;
    width: 100%;

    .container__box {
      @include flex($direction: row, $wrap: wrap, $justify: center);
      column-gap: 10px;
      row-gap: 40px;
      max-width: 1400px;

      .box--gradient {
        background-image: $gradient-ligth;
        padding: 24px 29px 32px 28px;
      }

      .box {
        @include flex(column);
        @include box(56px 29px 32px 28px);
        background-color: #ffffff;

        h2 {
          @include mobile-heading-medium();
        }

        h3 {
          @include mobile-heading-small();
        }

        p {
          padding: 16px 0 24px;
        }

        a {
          @include link();
          margin-top: auto;

          &:hover {
            @include link-hover();
          }
        }
      }

      .box--animation::after {
        @include box-images("../images/icon-animation.svg");
      }

      .box--design::after {
        @include box-images("../images/icon-design.svg");
      }

      .box--photography::after {
        @include box-images("../images/icon-photography.svg");
      }

      .box--crypto::after {
        @include box-images("../images/icon-crypto.svg");
      }

      .box--business::after {
        @include box-images("../images/icon-business.svg");
      }
    }
  }
}

@include responsive("desktop") {
  body {
    main {
      padding: 24px 155px 140px;

      .container__box {
        column-gap: 30px;
        row-gap: 80px;

        .box--gradient {
          padding: 64px 32px 138px;
        }

        .box {
          padding: 64px 32px 40px;

          h2 {
            @include desktop-heading-medium();
          }

          h3 {
            @include desktop-heading-small();
          }

          p {
            padding: 24px 0;
          }
        }
      }
    }
  }
}
