@import '../global/root';

body {
  main {
    .box--gradient {
      background-image: $gradient-ligth;
      padding: 24px 29px 32px 28px;
    }

    .box {
      p {
        padding: 16px 0 24px;
      }
    }

    .box--animation::after {
      @include box-images("../images/icon-animation.svg");
    }

    .box--design::after {
      @include box-images("../images/icon-design.svg");
    }

    .box--photography::after {
      @include box-images("../images/icon-photography.svg");
    }

    .box--crypto::after {
      @include box-images("../images/icon-crypto.svg");
    }

    .box--business::after {
      @include box-images("../images/icon-business.svg");
    }
  }
}